
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}
  body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
#title{
    font-size: 3.5vw;
}

@media screen and (max-width:1136px){
    #title{
        font-size: 2em;
    }
}

  h1 {
    font-family: 'Amiri', serif;
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img {
    background: white;
    padding: 10px;
    margin: 0;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }

  .biography{
      text-align: left;
  }

  .educationContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -230px;
  }

  /* Testing grounds */

.educationContainerTest{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerTest{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0;
}

.containerTest .card{
  position: relative;
  height: 350px;
  background: whitesmoke;
  display: flex;
  width: 28%;
  margin: 30px 0px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.containerTest .card .imgBox{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.containerTest .card:hover .imgBox{
height: 150px;
width: 150px;
left: -75px;
top: calc(50% - 75px);
}

.containerTest .card .content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 920px){
  .educationContainer .container .card .content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px){
  .educationContainerTest .containerTest .card .content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1072px){
  .educationContainerTest .containerTest .card .content p {
    font-size: 20px;
  }
}
/* ------------- */

  .container{
      position: relative;
      width: 1000px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px;
      padding: 20px 0;
  }


  .container .card{
      position: relative;
      height: 250px;
      background: whitesmoke;
      display: flex;
      width: 45%;
      margin: 30px 0px;
      border-radius: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .container .card .imgBox{
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
      transition: 0.5s ease-in-out;
  }

  .container .card:hover .imgBox{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
  }

  /* .container .card  .imgBox h1 {
      max-width: 100px;
      filter: invert(1);
      transition: 0.5s ease-in-out;
  }
  .container .card:hover  .imgBox h1{
    max-width: 75px;
  }
   */

   .container .card .content{
       position: absolute;
       right: 0;
       width: calc(100% - 75px);
       height: 100%;
       padding: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
   }