*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    background-color: #002D13;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

nav ul li{
    display: inline;
    font-size: 1.5em;
    font-family: 'Amiri', serif;
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav a {
    text-decoration: none;
    color: #FFC700;
    overflow: hidden;
}

.name{
    position: absolute;
    left: 8%;
    top:36%;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(247, 243, 243);
}

.title{
    position: absolute;
    max-width: 600px;
    left: 15%;
    top: 46%;
}

.title h1{
    color: #FFC700;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw  ;
}

.title p {
    color: rgb(247, 243, 243);
    font-size: 1.5vw ;
    font-family: 'Amiri', serif;
}

.mainImage{
    position: absolute;
    left: 850px;
    top: 80px;
    z-index: 3;
}

.filler{
    height:600px ;
    width: 400px;
    background-color: #FFC700;
    position: absolute;
    left: 1000px;
    top:150px ;

}

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: #FFC700;
}

.link--iocaste {
    overflow: hidden;
    display: inline;
    font-size: 1.5em;
    font-family: 'Amiri', serif;
    margin: 20px;
}

.link__graphic {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.link__graphic--slide {
    top: -3px;
    stroke-width: 2px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    counter-increment: itemcounter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content__item::before {
    color: var(--color-number);
    position: absolute;
    top: 0;
    left: 0;
    content: counters(itemcounter, ".", decimal-leading-zero);
}