
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

  html{
    box-sizing: border-box;
}

  body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
#title{
    font-size: 3.5vw;
}

@media screen and (max-width:1136px){
    #title{
        font-size: 2em;
    }
}

  h1 {
    font-family: 'Amiri', serif;
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }

  h3, p{
    font-family: 'Amiri', serif;
  }

  .hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 30%;
}
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  .biographyEducationSection{
    text-align: center;
  }

  img {
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img {
    background: white;
    padding: 10px;
    margin: 0;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin-top: 50px;
    text-align: center;
  }
  
  /* ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  } */
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }

  .title{
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    margin-top: 50px;
    text-align: center;
    align-items: center;
  }

  .biography{
      text-align: left;
  }

  .biography .hr{
    align-items: center;
  }

  .biography .hr{
    margin-bottom: 50px;
  }

  .educationContainerMain{
    min-height: 100vh;

  }

  .educationContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -100px;
  }

   /* ----------- Education Cards ------------ */

  /* Testing grounds */

.educationContainerTest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.containerTest{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0;
}

.containerTest .card{
  position: relative;
  height: 350px;
  background: whitesmoke;
  display: flex;
  width: 28%;
  margin: 30px 0px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.containerTest .card .imgBox{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.containerTest .card:hover .imgBox{
height: 150px;
width: 150px;
left: -75px;
top: calc(50% - 75px);
}

.containerTest .card .content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Cards Media Queries */

/* @media (max-width: 9920px){

  .educationContainer .container {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .educationContainer .container .card {
   max-width: 400px;
   height: auto;
   flex-direction: column;
   background: transparent;
   margin: -20px 0;
  }

  .educationContainer .container .card .imgBox{
    position: relative;
  }

  .educationContainer .container .card .imgBox,.educationContainer .container .card:hover .imgBox{
    width: 80%;
    height: 200px;
    top: 100px;
    left: 10%;
  }
  .educationContainer .container .card:hover .imgBox{
    top: 80px;
  }
  .educationContainer .container .card .imgBox h2,.educationContainer .container .card:hover .imgBox h2{
    max-width: 100px;
  }
  .educationContainer .container .content{
    position: relative;
    width: 100%;
    background: white;
    box-shadow: none;
    border-radius: 20px;
    border-top: 100px solid white;
  }
} */



@media screen and (max-width: 920px){
  .educationContainer .container .card .content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px){
  .educationContainerTest .containerTest .card .content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1072px){
  .educationContainerTest .containerTest .card:hover .imgBox #phd {
    font-size: 35px;
  }
}

@media screen and (max-width: 1072px){
  .educationContainer .container .card:hover .imgBox{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1072px){
  .educationContainer .container .card:hover .imgBox #dt {
    font-size: 20px;
  }
}



/* ------------- */

  .container{
      position: relative;
      width: 1000px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px;
      padding: 20px 0;
      margin-left: 50px;
  }


  .container .card{
      position: relative;
      height: 250px;
      background: whitesmoke;
      display: flex;
      width: 45%;
      margin: 30px 0px;
      border-radius: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .container .card .imgBox{
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
      transition: 0.5s ease-in-out;
  }

  .container .card:hover .imgBox{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
  }

  /* .container .card  .imgBox h1 {
      max-width: 100px;
      filter: invert(1);
      transition: 0.5s ease-in-out;
  }
  .container .card:hover  .imgBox h1{
    max-width: 75px;
  }
   */

   .container .card .content{
       position: absolute;
       right: 0;
       width: calc(100% - 75px);
       height: 100%;
       padding: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   /* ----------------- Education Cards End ----------- */


   .positions ul{
      max-width: 1000px;
      margin: 0 auto 50px auto;
      line-height: 1.6;
   }

   .positions .hr{
     margin-bottom: 10px;
   }

   .timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
  }
  
  .timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
  }
  
  .timeline ul{
    margin: 0;
    padding: 0;
  }
  
  .timeline ul li{
   list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  
  .timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
  }
  
  .timeline ul li:nth-child(even){
   float: right;
   text-align: left;
   clear: both;
  }

  .content{
    padding-bottom: 20px;
  }

  .timeline ul li:nth-child(odd)::before{
   content: '';
   position: absolute;
   top: 35px;
   right: -6px;
   width: 10px;
   height: 10px;
   background: black;
   border-radius: 50%;
   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }
  .timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 35px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }

  .timeline ul li h3{
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 600;
  }

  .timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
  }
 /* COMPLETELY OPTIONAL FROM HERE ON */

  .timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 32px;
    left: -165px;
    margin: 0;
    padding:  8px 16px;
    background-color: black;
    color: white;
    border-radius: 18px;
    box-shadow:  0 0 0 3px grey;
  }


  .timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 32px;
    right: -165px;
    margin: 0;
    padding:  8px 16px;
    background-color: black;
    color: white;
    border-radius: 18px;
    box-shadow:  0 0 0 3px grey;
  }

    /* ---------- OPTIONAL -------- */

  @media (max-width:1000px){
    .timeline{
      width: 100%;
    }
  }

  @media (max-width:767px){
    .timeline{
      width: 100%;
    }

    .timeline:before{
      left: 20px;
    }

    .timeline li:nth-child(odd),
    .timeline li:nth-child(even){
      width: 100%;
      text-align: left;
      padding-left: 50px;
      padding-bottom: 50px;
    }

    .timeline li:nth-child(odd):before,
    .timeline li:nth-child(even):before{
      top: -18px;
      left: 16px;
    }

    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time{
      top: -30px;
      left: 50px;
      right: inherit;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    } 
    
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -23px;
        left: 50px;
        right: inherit;
    }
  }


  .expAndResearch ul li{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(0.3px);
    list-style: none;

  }

  .expAndResearch{
    margin-top: 100px;
  }

  .expAndResearch ul{
    margin-top: 50px;
  }

  .expAndResearch ul li {
    margin: 50px 0 50px 50px;
  }

  .expAndResearch .expPoint{
  }


